body,
html {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chart-container {
    overflow-y: auto !important;
    text-align: center;
    padding: 0px 10px 10px 10px;
    height: auto;
    min-height: 350px;
}

.muze-grid-center-2 td {
    background: #f2f2f2;
}

.muze-grid .muze-text-cell {
    font-size: 12px !important;
}

.muze-ticks {
    font-size: 1px !important;
}

.muze-layer-text text {
    alignment-baseline: central;
}

.muze-layer-point {
    fill-opacity: 1 !important;
}
