@import '../../prefix.scss';

.#{$prefix}layer-point {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
    fill: #086bb6;;
    stroke: #086bb6;;
}

.#{$prefix}layer-point-highlight {
    stroke-width: 2px !important;
    fill-opacity: 0;
    stroke-opacity: 1;
}

.#{$prefix}layer-point-fadeout {
    fill-opacity: 0.3 !important;
    fill: #7f7f7f !important;
    stroke-opacity: 0.3 !important;
    stroke: #7f7f7f !important;
}

.#{$prefix}layer-point-selected {
    fill: #000 !important;
}