@import '../../prefix.scss';

.#{$prefix}layer-tick {
    stroke-opacity: 0.7;
    stroke: #F44336;
}

.#{$prefix}layer-tick-highlight {
    stroke-opacity: 1;
}

.#{$prefix}layer-tick-fadeout {
    stroke-opacity: 0.3 !important;
    stroke: #7f7f7f !important;
}

.#{$prefix}layer-tick-selected {
    stroke: #000 !important;
}
