{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}