@import './prefix.scss';

.#{$prefix}simple-axis text{
    // font-size: 12px;
    text-align: center;
    // font-weight: 200;
     font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
  
}


.#{$prefix}ticks{
    font-size: 12px;
    text-align: center;
    font-weight:400;
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: 'normal';
    fill: #858585;
}

.#{$prefix}tick-lines{
    font-size: 12px;
    text-align: center;
    font-weight:400;
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    stroke: rgb(239, 239, 239);
}

.#{$prefix}axis-name{
    font-size: 14px;
    text-align: center;
    font-weight:400;
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    fill: #5f5f5f;
}

.#{$prefix}axis-name.hidden{
    display: none;
}