@import "./prefix.scss";

.#{$prefix}grid-normal {
    border-color: #ebebeb !important;

    .#{$prefix}axis-name{
        font-size: 12px !important;
        line-height: 15px !important;
    }
}

.#{$prefix}grid-dark {
    border-color: #cbcbcb !important;

    .#{$prefix}axis-name{
        font-size: 12px !important;
        line-height: 15px !important;
    }
}
.#{$prefix}grid-dark-bottom {
    border-bottom-color:#cbcbcb !important;
}

.#{$prefix}grid-darker-top {
    border-top-color: #979797 !important;
}
.#{$prefix}grid-dark-top {
    border-top-color: #cbcbcb !important;
}
.#{$prefix}grid-dark-right {
    border-right-color: #cbcbcb !important;
}

.#{$prefix}grid-darker-bottom {
    border-bottom-color: #979797 !important;
}

.#{$prefix}grid-dark-left {
    border-left-color: #cbcbcb !important;
}

.#{$prefix}grid-none-left {
    border-left-color:transparent !important;
}
.#{$prefix}grid-none-right {
    border-right-color:transparent !important;
}
.#{$prefix}grid-none-top {
    border-top-color:transparent !important;
}
.#{$prefix}grid-none-bottom {
    border-bottom-color:transparent !important;
}
