@import "./prefix.scss";
@import "./fonts.scss";

.#{$groupContainer} {
    font-family: 'Source Sans Pro',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.42857143;
    color: #333;
    background-color: transparent;
    margin: 0;

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    *:before, *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

  

    .#{$prefix}table-arrow {
        margin: 5px;
        width: 0px;
        height: 0px;
        position: absolute;
        opacity: 0.5;
        z-index: 10;
        cursor: pointer;
    }

    .#{$prefix}table-arrow:hover {
        opacity: 1.0;
    }

    .#{$prefix}table-arrow-right {
        left: 100%;
        top: calc(50% - 25px);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 15px solid steelblue;
    }

    .#{$prefix}table-arrow-left {
        right: 100%;
        top: calc(50% - 25px);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 15px solid steelblue;
    }

    .#{$prefix}table-arrow-bottom {
        left: calc(50% - 25px);
        top: 100%;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 15px solid steelblue;
    }

    .#{$prefix}table-arrow-top {
        left: calc(50% - 25px);
        bottom: 100%;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 15px solid steelblue;
    }

    .table-row-nested {
        visibility: hidden;
        border-top: none;
    }
    
    svg {
        display: block;
        width: inherit;
        height: inherit;
        float: left;
        vertical-align: top;
    }

    svg[text-anchor='middle'] path, svg g text[text-anchor="middle"] {

    }
    .axisName.hidden{
        opacity: 0;
    }
    .axisName {
        opacity: 1;
    }

    .grid-td svg {
        max-width: 100%;
        max-height: 100%;
    }

    .domain {
        opacity: 0;
    }

}
.#{$prefix}board{
    float: left;
}
.#{$prefix}layout-container {
    float: left;
    position: relative;
}
.#{$prefix}legend-section, .#{$prefix}board-legend {
    text-align: center;
    float: left;
}
.#{$prefix}legend-horizontal-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.#{$prefix}legend-components {
    text-align: center;
    float: left;
}
.#{$prefix}grid-layout, .#{$prefix}grid-layout-row {
    float: left;
    position: relative;
}

.#{$prefix}grid-layout-container {
    position: relative;
    float: left;
}
.#{$prefix}grid-table {
    background-color: transparent;
    border-spacing: 0;
    table-layout: fixed;
}

.#{$prefix}grid-td, .#{$prefix}grid-th {
    padding: 0;
}

.#{$prefix}table-header {
    width: inherit;
    height: inherit;
}

.#{$prefix}table-header {
    width: inherit;
    height: inherit;
}

.#{$prefix}grid-layout {
    float: left;
    position: relative;
}

.#{$prefix}layout-grid-container {
    position: relative;
    float: left;
}

.#{$prefix}grid div{
    float: left;
    border-collapse: collapse;
}

.#{$prefix}grid table{
    border-collapse: collapse;
}
.#{$prefix}title-cell{
    font-size: 24px;
    font-weight: bold;
    color: #5f5f5f;
  }
.#{$prefix}grid-headers{
    font-size: 14px;
    font-weight: bold;

  }

 .#{$prefix}subtitle-cell {
    font-size: 16px;
    font-weight: normal;
    color:#b1b1b1;
  }
  .domain {
    opacity: 0;
}

.#{$groupContainer}, .#{$layoutContainer}, .#{$legendContainer} {
    float: left;
}

.hidden {
    display: none;
}
