$prefix: muze-;
$titleContainer: #{$prefix}title-container;
$subtitleContainer: #{$prefix}subtitle-container;
$messageContainer: #{$prefix}message-container;
$legendContainer: #{$prefix}legend-container;
$groupContainer: #{$prefix}group-container;
$layoutContainer: #{$prefix}layout-container;

