@import './prefix.scss';

.#{$prefix}text-cell {
    font-size: 12px;
    line-height: 15px;
    color: #5f5f5f;
    font-weight: 400;
    font-family: 'Source Sans Pro',"Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 15px;
    white-space: nowrap;
    transform-origin: 0 0;
}

.#{$prefix}header-cell {
    font-size: 16px;
    text-align: center;
    color: #858585;
    font-weight: 800;
    font-family: 'Source Sans Pro',"Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    white-space: nowrap;
}

.#{$prefix}subheader-cell {
    font-size: 15px;
    text-align: center;
    color: #858585;
    font-weight: 800;
    font-family: 'Source Sans Pro',"Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    white-space: nowrap;
}
