@import '../../prefix.scss';

.#{$prefix}crossband {
    stroke-opacity: 0;
    fill: grey;
    fill-opacity: 0.2;
}

.#{$prefix}crossline {
    stroke: #979797;
    stroke-dasharray: 5,7;
    fill: #979797;
    opacity: 0.65;
}
