@import '../../prefix.scss';

.#{$prefix}layer-bar {
    fill-opacity: 1;
    stroke: none;
    stroke-width: 0;
}

.#{$prefix}layer-bar-highlight {
    fill-opacity: 1;
}

.#{$prefix}layer-bar-fadeout {
    fill-opacity: 0.2 !important;
}

.#{$prefix}layer-bar-selected {
    fill: steelblue !important;
}