$prefix: muze-;
.#{$prefix}legend-marker{
  stroke: #E2E2E2;
  stroke-width: 1px;
  fill: #797474;
}

.#{$prefix}legend-marker-show{
  display: block;
}


.#{$prefix}legend-marker-hide{
  display: none;
}

.#{$prefix}legend-marker-text-container{
  position: relative;
}

.#{$prefix}legend-marker-text{
  position: absolute;
}

.#{$prefix}legend-marker-text div{
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  pointer-events: none;
}