@import '../../prefix.scss';

.#{$prefix}anchors-group {
    pointer-events: none;
    .#{$prefix}layer-point {
        fill-opacity: 1;
    }
}

.#{$prefix}persistent-anchors {
    .#{$prefix}layer-point {
        fill-opacity: 1;
    }
}