@import '../../prefix.scss';

.#{$prefix}anchors-group {
    pointer-events: none;
    .#{$prefix}layer-point {
        fill-opacity: 1;
    }
}

.#{$prefix}persistent-anchors {
    .#{$prefix}layer-point {
        fill-opacity: 1;
    }
}

.#{$prefix}persistent-anchors-lower,
.#{$prefix}persistent-anchors-upper {
    .#{$prefix}layer-point {
        fill-opacity: 1;
    }
}

.#{$prefix}anchors-group-lower,
.#{$prefix}anchors-group-upper {
    .#{$prefix}layer-point {
        fill-opacity: 1;
    }
}

.#{$prefix}brush-anchors-lower,
.#{$prefix}brush-anchors-upper {
    .#{$prefix}layer-point {
        fill-opacity: 1;
    }
}
