@import '../../prefix.scss';

.#{$prefix}tooltip-content-parent-container :last-child {
    border-bottom: none;
}

.#{$prefix}tooltip-content-container-highlightSummary {
    border-right: 1px solid #E9E9E9;
    float: left;
}

.#{$prefix}tooltip-content-container-selectionSummary {
    float: left;
}