@import '../../prefix.scss';

.#{$prefix}tooltip-content-parent-container :last-child {
    border-bottom: none;
}

.#{$prefix}tooltip-content-parent-container {
    display: inline-block;
}

.#{$prefix}tooltip-content-container-highlightSummary {
    border-right: 1px solid #E9E9E9;
}

.#{$prefix}tooltip-content-container-selectionSummary-crosstab {
    // border-bottom: 1px solid #E9E9E9;
    display: inline-block;
}

.#{$prefix}tooltip-content-container-selectionSummary-default {
    border-bottom: 1px solid #E9E9E9;
}

.#{$prefix}tooltip-content-container-highlightSummary-crosstab {
    float: left;
}

.#{$prefix}tooltip-content-container-selectionSummary {
    .#{$prefix}tooltip-content {
        margin-left: 3px;
        margin-right: 3px;
    }
}