@import './prefix.scss';

.#{$prefix}tooltip-box {
    opacity: 1;
    border: 1px solid rgba(151,151,151,.19);
    background: #fbfbfb;
    box-shadow: 2px 2px 3px 0px rgba(211,211,211,.5);
    font-size: 12px;
    color: #5f5f5f;
    border-radius: 1px;
    padding-top: 4px;
    display: inline-block;
    pointer-events: none;
    z-index: 9999999999;
    text-align: left;

}
.#{$prefix}tooltip-row{
    padding-bottom: 2px;
    padding-top: 2px;
    overflow: auto;
}

.#{$prefix}tooltip-parent-container {
    pointer-events: none;
    z-index: 9999999999;
}

.#{$prefix}tooltip-stacked-row{
    color:#828282;
    margin-left: 10px;
    font-size: 12px ;
    font-weight: 600;
    line-height: '15px'
}

.#{$prefix}tooltip-stacked-row-key{
    margin-left: 10px;
}

.#{$prefix}tooltip-stacked-row-value{
    margin-left: 2px;
}

.#{$prefix}tooltip-stacked-percentage{
    font-size: 10px;
    color:#828282;
    margin-left: -20px;
    margin-right: 20px;
    float: right;
    line-height: 17px;
}
.#{$prefix}tooltip-selected-row{
    background-color:#ebebeb
}

.#{$prefix}tooltip-row:last-child{
    padding-bottom: 4px;
}

.#{$prefix}tooltip-value{
    color:#5F5F5F;
    float: right;
    margin-left: 10px;
}

.#{$prefix}tooltip-connectors path {
    stroke-width: 2px;
    stroke: #c7c7be;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.#{$prefix}tooltip-html-container {
    margin-left: 10px;
    margin-right: 10px;
}

.#{$prefix}tooltip-content {
    svg {
        margin-left: 10px;
        margin-right: 5px;
    }
}

.#{$prefix}tooltip-value {
    margin-right: 24px;
    margin-left: 24px;
}

.#{$prefix}tooltip-first {
    font-weight: 600;
    font-size: 15px;
    margin-left: 15px;
}
.muze-tooltip-table-tbody td {
    padding: 3px;
}

.muze-tooltip-table-row-0  {
    font-weight: bold;
}