@import './prefix.scss';

.#{$prefix}tooltip-box {
    opacity: 0.9;
    border: 1px solid rgba(151,151,151,.19);
    background: #fbfbfb;
    box-shadow: 2px 2px 3px 0px rgba(211,211,211,.5);
    font-size: 12px;
    color: #5f5f5f;
    border-radius: 1px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    display: inline-block;
    pointer-events: none;
    z-index: 9999999999;
    text-align: left;

}
.#{$prefix}tooltip-row{
    padding-bottom: 8px;
    overflow: auto;
}

.#{$prefix}tooltip-row:last-child{
    padding-bottom: 4px;
}
.#{$prefix}tooltip-value{
    font-weight: 600;
    float: right;
    margin-left: 10px;
}
.#{$prefix}tooltip-connectors path {
    stroke-width: 2px;
    stroke: #c7c7be;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.#{$prefix}tooltip-arrow-bottom {
    border-top: 10px solid #fbfbfb;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 0;
};
.#{$prefix}tooltip-arrow-right {
    border-left: 10px solid #fbfbfb;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    // left: 0;
    right: -10px;
};
.#{$prefix}tooltip-arrow-left {
    border-right: 10px solid #fbfbfb;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: 0;
    left: -10px;
};
.#{$prefix}tooltip-arrow-top {
    border-bottom: 10px solid #fbfbfb;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 0;
};


.#{$prefix}tooltip-background-arrow-top {
    border-bottom: 12px solid rgba(151,151,151,.19);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 0%;
    right: 0;
};
.#{$prefix}tooltip-background-arrow-bottom {
    border-top: 12px solid rgba(151,151,151,.19);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 102%;
    right: 0;
};
.#{$prefix}tooltip-background-arrow-right {
    border-left: 12px solid rgba(151,151,151,.19);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    // left: 0;
    right: -12px;
};
.#{$prefix}tooltip-background-arrow-left {
    border-right: 12px solid rgba(151,151,151,.19);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    right: 0;
    left: -12px;
};

.#{$prefix}tooltip-content-container {
    float: none !important;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
.#{$prefix}-tooltip-value {
    font-weight: bold;
}